
.check-out-container{
    padding: 80px;
}

.order-products {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}


.order-product {
    display: flex;
    flex-direction: column; 
    padding: 30px;
    width: 220%;
    line-height: 30px;
}

.order-product a{
    color: rgb(11, 53, 22);
}

.order-product img{
    margin-bottom: 20px;
}

.table{
    height: 220px;
}

.price-details {
    padding: 20px;
    width: 40%;
}
