.clock-card {
  width: 325px;
  box-shadow: 3px 3px 3px 4px rgb(245, 210, 145);
  margin: 4em;
  padding:1em;
}

.clock-card a {
  text-decoration: none;
}

.clock-card-img {
    width: 300px;
    height: 330px;
    border: 4mm ridge rgb(245, 210, 145);
    border-radius: 1px 0 3px 4px;
    grid-area: card-img;
    margin-top: 30px;
}

.clock-card-name:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.rateAndBtnToAdd {
  display: flex;
  justify-content: space-between;
}

.plus-radius {
  width:40px;
  height:35px;
  background:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0) content-box,
    #000;
  background-position:center;
  background-size: 80% 3px,3px 70%;
  background-repeat:no-repeat;
  box-sizing:border-box;
  border-radius:50%;
}


@media (max-width: 1200px) {
  .clock-card-img {
      width: 270px;
      height: 270px;
      border: 4mm ridge rgb(245, 210, 145);
      border-radius: 1px 0 3px 4px;
      margin-left: 12px;
    }
  
    
    .clock-card {
      box-shadow: 3px 3px 3px 4px rgb(245, 210, 145);
      margin: 30px 45px;
      padding:1em;
    }
}

