.clock-card-title {
    grid-area: card-title;
  }
  
  .clock-card-details {
    grid-area: card-details;
    width: 700px;
  } 

  .clock-details {
    color: rgb(33, 92, 5);
    display: grid;
    grid-template-areas: 
    "card-img card-title"
    "card-img card-details"
    "card-navs card-navs";
    margin: 60px;
    gap: 50px;
  } 

.clock-detail-backBtn {
  width:100px;
  background-color: black;
  /* max-width: max-content; */
}

  .addedBtn {
    margin-right: 25px;
  }

  .clock-card-navs {
    grid-area: card-navs;
    display: flex;
    justify-content: space-between;
  }
  
  .clock-card-navs * {
    border: 2px solid olivedrab;
    border-radius: 20px;
    max-width: max-content;
    font-size: large;
    background-color: rgb(168, 199, 95);
  } 

  .clock-detail-backBtn {
    width:250px;
  }

  @media (max-width: 1200px) {
      .clock-card-details {
        width: 450px;
      } 
      
      .clock-card-navs {
        margin: 60px;;
      } 
    
}



@media (max-width: 768px) {
    .clock-details {
        max-width: 1200px;
    }

    .clock-card-title {
        font-size: x-small;
        max-width: 300px;
    }

    .clock-card-title button{
        font-size: larger;
        margin-top: 12px;
    }


    .clock-card-details {
        font-size: x-small;
        max-width: 300px;
    }
}

@media (max-width: 540px) {
    .clock-details {
        display: block;
        margin: 150px;
    }

    .clock-card-title, .clock-card-details {
        margin-top: 60px;
    }

    .clock-card-navs {
        margin: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .clock-card-navs * {
      border: none;
      row-gap: 30px;
      gap: 30px;
      margin: 10px;
      width: 250px;
    } 
  
}