
.navbar {
    background-color: rgb(168, 199, 95);
    border: groove 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
  }

  .navbar-homepage-log {
    align-items: center;
  }
  
  
  .navbar-logo {
    width: 100px;
    border-radius: 50%;
    /* margin-left: 38px; */
    margin-left: 1.5rem;
  }
  
.search {
  position: relative;
  border-radius: 40%;
  
}

.search input {
  border-radius: 10px;
  border: none;
  padding: 8px;
  width: 250px;;
}

/* .search button {
  border-radius: 0px 10px 10px 0px;
  border: none;
  padding: 8px;
}

.search button:hover {
  background-color: rgb(235, 200, 114);
} */

 .navbar-links{
    height: 100%;
  }

  .navbar-links ul{
    display: flex;
    margin: 0; 
    padding: 0;
  }

  .navbar-links li{
    list-style: none;
  }

 

  .navbar-links li a{
    display: block;
    text-decoration: none;
    font-size: x-large;
    /* margin-top: 0px; */
    text-decoration: none;
    color: rgb(235, 200, 114);
    font-family: "font-effect-outline";
  }
  
.navbar-links button {
    color: rgb(57, 116, 116);
    margin-right: 38px;
    font-size: x-large;
    border-radius: 30px;
    border: rgb(151, 194, 52) 10px solid;
  }

  .navbar-links button:hover{
    color: rgb(235, 200, 114);
  }
  
  .navbar-all-clocks {
    color:rgb(235, 200, 114);
    font-weight: bolder;
    padding-top: 10px;
    text-decoration: none;
    
  }

  .navbar-all-clocks:hover { 
    color: rgb(228, 236, 208) ;
  }

  .toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-logo {
      margin-left: 0px;
    }

    .navbar-all-clocks {
      padding-top: 150px;
      
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links.active{
      display: inline;
  }

    .navbar-links ul {
        display: flex;
        justify-content: space-between;
    }

    .navbar-links ul li {
        margin: 0 60px 0 60px;
        
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
}