.shopping-cart {
    margin-bottom: 100px;
    padding: 50px;
    line-height: 50px;
  }
  
  .shopping-cart th{
    font-size: x-large;
  }
  
  .shopping-cart tr{
    font-size: large;
  }
  
  .shopping-cart h1{
    margin-bottom: 50px;
  }

  .cart-empty {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .cart-empty h3{
    margin-left: 15px;
    font-size: 17px;
  }

  .checkout-contiuedShopping{
    background-color: rgb(168, 199, 95);
    color: black;
    font-size:x-large;
    align-items: center;
    width: 250px;
    height: 60px;
    margin: auto;
    border-radius: 15px;
}

  .checkoutBtn{
    background-color: rgb(168, 199, 95);
    color: black;
    font-size:x-large;
    align-items: center;
    width: 250px;
    height: 60px;
    margin: auto;
    border-radius: 15px;
}

