body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: rgb(168, 199, 95);
  border: groove 15px;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  width: 100px;
  border-radius: 50%;
  margin-left: 38px;
}

nav a{
  text-decoration: none;
  font-size: x-large;
  margin-top: 0px;
  text-decoration: none;
  color: rgb(235, 200, 114);
  font-family: "font-effect-outline";
}

nav button {
  color: rgb(57, 116, 116);
  margin-top: 25px;
  margin-right: 38px;
  font-size: x-large;
  border-radius: 30px;
  border: rgb(151, 194, 52) 10px solid;
}

.navbar-all-clocks {
  margin-top: 20px;
  font-weight: bold;
}
.homepage {
  margin-top: 70px;
  text-align: center;
  font-size: x-large;
}

.homepage img {
  width: 600px;
}

.all-clocks {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.clock-card-img {
  width: 300px;
  height: 330px;
  border: 4mm ridge rgb(245, 210, 145);
  border-radius: 1px 0 3px 4px;
  grid-area: card-img;
  margin-top: 30px;
}

.clock-card-title {
  grid-area: card-title;
}

.clock-card-details {
  grid-area: card-details;
  width: 700px;
} 

.clock-card-navs {
  grid-area: card-navs;
  display: flex;
  justify-content: space-between;
}

.clock-card-navs * {
  border: 3px solid olivedrab;
  width: 100px;
  font-size: large;
  background-color: rgb(168, 199, 95);
} 

.clock-card {
  width: 325px;
  box-shadow: 3px 3px 3px 4px rgb(245, 210, 145);
  margin: 4em;
  padding:1em;
}

.clock-details {
  color: rgb(33, 92, 5);
  display: grid;
  grid-template-areas: 
  "card-img card-title"
  "card-img card-details"
  "card-navs card-navs";
  margin: 60px;
  gap: 50px;
} 

.edit-form, .new-form{
  margin: 120px;
  font-size: xx-large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 200px;
  color:  rgb(33, 92, 5);
  font-weight: 550;
}

.edit-form-one input, .new-form-one input{
  width: 200px;
  height: 30px;
  font-size:medium;
  font-weight: bold;
}

.edit-form-two input, .new-form-two input{
  width: 480px;
  height: 30px;
  font-size: medium;
  font-weight: bold;
}

.edit-form-three, .new-form-three{
  display: grid;
  grid-template-columns: repeat(2,1fr);
} 

.edit-3-stock, .new-3-stock {
  width: 60px;
  height: 45px;
  font-size: x-large;
  border: 4px groove black;
}

.edit-form-submit, .new-form-submit{
  width: 130px;
  border: 8px solid rgb(230, 185, 102);
  background-color: rgb(18, 235, 116);
  font-size:x-large;
}

.checkout_page {
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url(https://4bgowik9viu406fbr2hsu10z-wpengine.netdna-ssl.com/wp-content/uploads/2020/02/CTA-Orange-Circles.png);
}