.clockInCart-name {
    text-decoration: none;
    color: black;
  }
  
  .clockInCart-name:hover {
    text-decoration: none;
    color: orange;
  }
  
  .quantity-container {
    display: flex;
  }
  
  .quantity-controllers {
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .quantity {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .quantity-controllers button{
    display: inline-block;
    background-color: #e7ece7;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #1c1b1b;
    text-align: center;
    font-size: 28px;
    width: 45px;
    transition: all 0.5s;
    margin: 5px;
  }
  
  .removeBtn {
    background-color: #e7ece7;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #1c1b1b;
    text-align: center;
    font-size: 18px;
  }